* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #080a0e;
}
::selection {
  background-color: #ca0b4b;
}
::placeholder {
  color: rgba(245, 245, 245, 0.71);
}
.pageWrapper {
  height: 100vh;
  background-color: #0e1218;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 3rem;
  background-color: #131920;
  border-bottom: 5px solid rgb(228, 13, 84);
  box-shadow: 0px 8px 19px 1px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 8px 19px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 8px 19px 1px rgba(0, 0, 0, 0.24);
}
.titleWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}
.titleWrapper:hover > .logoWrapper {
  color: transparent;
  background-position: center;
  background-clip: text;
  background-image: url("https://media4.giphy.com/media/xUPGcyTe2I8FvXy9EI/giphy.gif");
  transition: background-image 400ms ease, color 400ms ease;
}
.titleWrapper:hover > .titleText {
  color: transparent;
  background-position: center;
  background-clip: text;
  background-image: url("https://media4.giphy.com/media/xUPGcyTe2I8FvXy9EI/giphy.gif");
  transition: background-image 400ms ease, color 400ms ease;
}
.logoWrapper {
  font-size: 1.8rem;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 400ms ease, color 400ms ease;
}
.cartWrapper {
  font-size: 1.8rem;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 200ms ease;
}
.cartWrapper:hover {
  color: rgb(228, 13, 84);
  transition: color 200ms ease;
}
.titleText {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1em;
  color: whitesmoke;
  margin: 0;
  margin-left: 0.6rem;
  transition: background-image 400ms ease, color 400ms ease;
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
}
.navButton {
  margin-right: 1.5rem;
  padding: 0.15rem 0.5rem;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: whitesmoke;
  border: 2px solid rgb(228, 13, 84);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.navButton:hover {
  background-color: rgb(228, 13, 84);
  transition: background-color 200ms ease-in-out;
}
.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  flex-direction: row;
}
.dividedContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 50%;
  height: 100%;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2.5rem, 4vw, 4.2rem);
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  line-height: 1em;
}
.titlePhrase {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  font-weight: 400;
  font-style: italic;
  color: whitesmoke;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  width: 90%;
  height: 100%;
  background-color: #11161d;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.21);
}
.formItemWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  max-width: 30rem;
  width: 90%;
  height: fit-content;
}
.formLabel {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: whitesmoke;
}
.formInput {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  height: 2.8rem;
  width: 100%;
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  font-size: 1rem;
}

@media screen and (max-width: 1036px) {
  .mainContainer {
    flex-direction: column;
    padding: 3rem 2rem;
  }
  .dividedContainer {
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 1.4rem 0;
  }
  .title {
    font-size: clamp(2.2rem, 8.5vw, 4rem);
  }
  .titlePhrase {
    font-size: clamp(1.1rem, 3vw, 1.6rem);
  }
  .formContainer {
    width: 100%;
    background-color: transparent;
  }
}
@media screen and (max-width: 760px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .titleText {
    font-size: 1.5rem;
  }
  .dividedContainer {
    padding: 1.4rem 0;
  }
  .formContainer {
    padding: 0;
    box-shadow: none;
  }
  .formItemWrapper {
    margin: 0.7rem 0;
  }
}
